.section {
    /* padding: 4rem 2rem; */
    /* background-color: #f5f5f5; */
}

.mainTitle {
    padding: 1rem 1.4rem;
    border-radius: 10rem;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    letter-spacing: 3px;
    font-size: 1.6rem;
    color: #58b5d3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.mainTitle::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(88, 180, 211, 0.1);
    border-radius: inherit;
    position: absolute;
    right: 0;
    top: 0;
    filter: blur(.7rem);
}

.categorySection {
    margin-bottom: 6rem;
    margin-left: .6rem;
}

.categoryTitle {
    font-size: 2.8rem;
    /* color: #333; */
    /* background-color: red; */
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid rgba(88, 180, 211, 0.3);
    display: block;
}

.projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
    gap: 2rem;
}

.projectCard {
    background-color: #141a22;
    border-radius: 0 2rem 0 0;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.projectImageContainer {
    position: relative;
    height: 28rem;
    overflow: hidden;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.projectCard:hover .projectImage {
    transform: scale(1.05);
}

.projectOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #58b4d318, #131820);
    color: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard:hover .projectOverlay {
    opacity: 1;
}

.projectTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.projectDescription {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    opacity: .8;
}

.projectTechs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-top: auto;
}

.projectTechs>span {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
}

.projectActions {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.projectButton {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
}

.projectButton:first-child {
    background-color: #58b5d3;
    color: black;
}

.projectButton:last-child {
    /* background-color: #f0f0f0; */
    color: #58b5d3;
    border: 1px solid #58b5d3;
}

.projectButton:hover {
    opacity: 0.9;
}

/* Styles spécifiques pour les technologies */
.html5 {
    color: #E34C26;
}

.css3 {
    color: #2196F3;
}

.javascript {
    color: #F0DB4F;
}

.react {
    color: #61DAFB;
}

.node {
    color: #689F38;
}

.mongodb {
    color: #439934;
}