/* Sidebar.module.css */
.sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    background-color: #131820;
    padding: 2rem 2rem 2rem 10rem;
    position: fixed;
    top: 0;
    left: 0;
}

.logo{
    width: 7rem;
}
  
.nav {
    margin-top: 6rem;
}

.nav ul {
    list-style-type: none;
}
  
.menuItem {
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: rgba(255, 255, 255, 0.2);
}

.menuItem:hover {
    color: rgba(255, 255, 255, 0.5);
}

.active {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.active:hover {
    color: rgba(255, 255, 255, 0.9);
}