/* Sidebar.module.css */
.sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    /* background-color: #131820; */
    background-image: linear-gradient(90deg, #131820 50%, transparent 100%);
    padding: 4rem 2rem 4rem 10rem;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    box-shadow: .0rem 0 4rem rgba(19, 24, 32, 0.2);
    /* border-right: 2px solid rgba(255, 255, 255, 0.06); */
}

.logo{
    width: 7rem;
}
  
.nav {
    margin-top: 6rem;
    flex-grow: 1;
}

.nav ul {
    list-style-type: none;
}
  
.navBtn {
    background: none;
    border: none;
    font-size: 2rem;
    padding: 1.2rem 0;

    cursor: pointer;
    transition: background-color 0.3s;
    color: rgba(255, 255, 255, 0.2);

    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.navBtn:hover {
    color: rgba(255, 255, 255, 0.5);
}

.navBtn.active {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}


.navBtn .navBtn_icon {
    color: white;
    opacity: .2;
}

.navBtn.active .navBtn_icon {
    opacity: .8;
}


.navBtn .navBtn_arrow {
    display: none;
    color: rgba(255, 255, 255, .5);
}

.navBtn.active .navBtn_arrow {
    display: block;
}

.navBtn.active:hover {
    color: rgba(255, 255, 255, 0.9);
}

.socialIcons ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.socialIcons a {
    color: rgba(255, 255, 255, 0.6);
}